$blue: #2931DD;
$red: #ED333B;

* {
    all: unset;
}

.workspace-entry {
    background-color: transparent;
}

.workspace-entry.current {
    background-color: $blue;
}

.battery-visual {
    color: $blue;
}

.battery-visual.low {
    color: $red;
}
